= render_region :form_top
.form-area
  - render_region :form do |form|

    - form.edit_name do
      %p.title
        %label{:for => "role_name"} Role name
        = f.text_field :name, :class => "textbox"
        
    - form.edit_permissions do
      %label Role Permissions:
      - @role.find_all_permission_methods.each do |permission_method|
        %p.permission
          %label{:for => "role_#{permission_method}"}= "#{permission_method.humanize}?"
          = f.check_box permission_method.gsub(/=/, ''), :class => 'checkbox'
  
  - render_region :form_bottom do |form_bottom|
    - form_bottom.edit_timestamp do
      = updated_stamp @role  
      - form_bottom.edit_buttons do
        %p.buttons
          = save_model_button(@role)
          or
          = link_to "cancel", admin_roles_path
